<div class="container row mt-5 ml-5">

    <div class="col-6 border">
        <h1 class="mt-2"><b>Order Details</b></h1>
        <hr>
        <div class="row">
            <div class="col-7 mt-2">
                <p class="text-muted"><b>Oredr Number : </b>457874542121244vfgsg55</p>
            </div>
            <div class="col ml-2">
                <button type="button" class="btn btn-outline-info btn-sm mb-3 pr-5 pl-5">Contact Seller</button>
            </div>
        </div>

        <div class="alert alert-info" role="alert">
            Estimated delivery Monday 25 March,2020 -Monday 25 April 2020
        </div>
        <div class="border row m-4 mb-2">
            <div class="col-3 mr-4 m-2 ">
                <img src="../../../../assets/095436-9818.JPG"   width="110" height="110">
            </div>
            <div class="col ml-0 mr-1  ">
                <h4 class="text-info mb-0"><b>Grant basic short sleveeles t-shirt</b></h4>
                <p class="mb-0">Unit Price  : $5</p>
                <p class="mb-0">Quantity : 3</p>
                <p class="mb-0">Item Price : $15</p>
                <p class="mb-0">Item Discount : -$0.10</p>
                <p>Item Number : 5456788745454</p>
            </div>
        </div>
        <div class="border row m-4 mb-2">
            <div class="col-3 mr-4 m-2 ">
                <img src="../../../../assets/couchella+Tshirt.jpg"   width="110" height="110">
            </div>
            <div class="col ml-0 mr-1  ">
                <h4 class="text-info mb-0"><b>Grant basic short sleveeles t-shirt</b></h4>
                <p class="mb-0">Unit Price  : $5</p>
                <p class="mb-0">Quantity : 3</p>
                <p class="mb-0">Item Price : $15</p>
                <p>Item Number : 5456788745454</p>
            </div>
        </div>
        <div class="border row m-4 mb-2">
            <div class="col-3 mr-4 m-2 ">
                <img src="../../../../assets/tshirt.jpg"   width="110" height="110">
            </div>
            <div class="col ml-0 mr-1 ">
                <h4 class="text-info mb-0"><b>Grant basic short sleveeles t-shirt</b></h4>
                <p class="mb-0">Unit Price  : $5</p>
                <p class="mb-0">Quantity : 3</p>
                <p class="mb-0">Item Price : $15</p>
                <p>Item Number : 5456788745454</p>
            </div>
        </div>
        <div class="border row m-4 mb-2">
            <div class="col-3 mr-4 m-2 ">
                <img src="../../../../assets/095436-9818.JPG"   width="110" height="110">
            </div>
            <div class="col ml-0 mr-1 ">
                <h4 class="text-info mb-0"><b>Grant basic short sleveeles t-shirt</b></h4>
                <p class="mb-0">Unit Price  : $5</p>
                <p class="mb-0">Quantity : 3</p>
                <p class="mb-0">Item Price : $15</p>
                <p>Item Number : 5456788745454</p>
            </div>
        </div>
        <div class="border row m-4 mb-2">
            <div class="col-3 mr-4 m-2 ">
                <img src="../../../../assets/095436-9818.JPG"   width="110" height="110">
            </div>
            <div class="col ml-0 mr-1 ">
                <h4 class="text-info mb-0"><b>Grant basic short sleveeles t-shirt</b></h4>
                <p class="mb-0">Unit Price  : $5</p>
                <p class="mb-0">Quantity : 3</p>
                <p class="mb-0">Item Price : $15</p>
                <p>Item Number : 5456788745454</p>
            </div>
        </div>
    </div>
    <div class="col-4 border">
        <div class="containrt m-2 border">
            <h1 class="ml-3 mt-2"><b>Delivery Address</b></h1>
            <p class="ml-3 mb-0"><b>Chalanika Sewwandi</b></p>
            <p class="ml-3 mb-0">No 267/1C</p>
            <p class="ml-3 mb-0">Owitigama</p>
            <p class="ml-3 ">Meegoda Western Province 10500</p>

        </div>

        <div class="containrt m-2 border">
            <h1 class="ml-3 mt-2"><b>Order Total</b></h1>
            <p class="ml-3 "><b>Sub Total : </b>$15</p>
            <p class="ml-3 "><b>Discount : </b>-$0.36</p>
            <p class="ml-3 "><b>Delivery Cost : </b>$2</p>
            <hr>
            <h2 class="ml-3 text-muted"><b>Total  :</b>$17</h2>
        </div>
    </div>

</div>