<div class="container">
    <form class="example-form" (ngSubmit)="send();">
          <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="this.chatModel.body" [ngModelOptions]="{standalone: true}"></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Send</button>
        </form>
        
  </div>

  <div class="container py-5 px-4">
    
  
    <div class="">
      <!-- Users box-->
      
      <!-- Chat Box-->
      <div class="col-4 px-0 row rounded-lg overflow-hidden shadow">
          
        <div class="px-4 py-4 chat-box bg-white">
          <!-- Sender Message-->
          <!-- change message size w-40 -->
          <div class="media w-40 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
            <div class="media-body ml-3">
              <div class="bg-light rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-muted">Test which is a new approach all solutions</p>
              </div>
              <p class="small text-muted">12:00 PM | Aug 13</p>
            </div>
          </div>
  
          <!-- Reciever Message-->
          <div class="media w-30 ml-4 mb-3">
            <div class="media-body">
              <div class="bg-primary rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-white">Test which is a new approach to have all solutions</p>
              </div>
              <p class="small text-muted">12:00 PM | Aug 13</p>
            </div>
          </div>
  
          <!-- Sender Message-->
          <div class="media w-30 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
            <div class="media-body ml-3">
              <div class="bg-light rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-muted">Test, which is a new approach to have</p>
              </div>
              <p class="small text-muted">12:00 PM | Aug 13</p>
            </div>
          </div>
  
          <!-- Reciever Message-->
          <div class="media w-50 ml-auto mb-3">
            <div class="media-body">
              <div class="bg-primary rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-white">Apollo University, Delhi, India Test</p>
              </div>
              <p class="small text-muted">12:00 PM | Aug 13</p>
            </div>
          </div>
  
          <!-- Sender Message-->
          <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
            <div class="media-body ml-3">
              <div class="bg-light rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-muted">Test, which is a new approach</p>
              </div>
              <p class="small text-muted">12:00 PM | Aug 13</p>
            </div>
          </div>
  
          <!-- Reciever Message-->
          <div class="media w-50 ml-auto mb-3">
            <div class="media-body">
              <div class="bg-primary rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-white">Apollo University, Delhi, India Test</p>
              </div>
              <p class="small text-muted">12:00 PM | Aug 13</p>
            </div>
          </div>
  
        </div>
  
        <!-- Typing area -->
        <div class="">
            <form action="#" class="">
                <div class="input-group m-2 p-0  rounded">
                  <input type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0   bg-light ">
                  <div class="ml-1">
                    <button id="button-addon2" type="submit" class="btn btn-primary pull-right btn-sm mr-2 ">send</button>
                  </div>
                </div>
              </form>
        </div>
  
      </div>
    </div>
  </div>
  