<mat-toolbar color="primary" class="navbar">
    <div>
        <span>Logo</span>
    </div>
    <div>
        <span>Clothing</span>
        
    </div>
</mat-toolbar>
<button class="btn btn-light btn-sm" *ngIf="!_userService.user" (click)="signIn();">Sign in</button>
<div *ngIf="_userService.user">
    <p >{{ _userService.user.Name }} </p>
    <button (click)="onLogout();">Logout</button>
</div>
<!-- <div class="mt-5">
    <button (click)="showSuccess();" >gt</button>
</div> -->

<app-chat></app-chat>